.title {
    text-align: center;
}
body {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
}
.card-img {
    width: 100%;
}
.card {
    width: 27vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    justify-content: space-between;
    margin: 8px 8px 8px;
}